@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?spexhp');
  src:  url('icomoon.eot?spexhp#iefix') format('embedded-opentype'),
    url('icomoon.ttf?spexhp') format('truetype'),
    url('icomoon.woff?spexhp') format('woff'),
    url('icomoon.svg?spexhp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: "\e913";
}

.icon-date:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-bars:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-news:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-icons-09:before {
  content: "\e908";
}
.icon-location-map:before {
  content: "\e909";
}
.icon-icons-11:before {
  content: "\e90a";
}
.icon-download-file:before {
  content: "\e90b";
}
.icon-microsoft:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
  color: #ec1e28;
}
.icon-minus:before {
  content: "\e90e";
  color: #ec1e28;
}
.icon-time:before {
  content: "\e90f";
}
.icon-at-the-rate-of:before {
  content: "\e910";
}
.icon-globe:before {
  content: "\e911";
}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('Cabin-SemiBold.woff2') format('woff2'),
        url('Cabin-SemiBold.woff') format('woff'),
        url('Cabin-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('Cabin-SemiBoldItalic.woff2') format('woff2'),
        url('Cabin-SemiBoldItalic.woff') format('woff'),
        url('Cabin-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('Cabin-Regular.woff2') format('woff2'),
        url('Cabin-Regular.woff') format('woff'),
        url('Cabin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinItalic';
    src: url('Cabin-Italic.woff2') format('woff2'),
        url('Cabin-Italic.woff') format('woff'),
        url('Cabin-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArimoItalic';
    src: url('Arimo-Italic.woff2') format('woff2'),
        url('Arimo-Italic.woff') format('woff'),
        url('Arimo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArimoBoldItalic';
    src: url('Arimo-BoldItalic.woff2') format('woff2'),
        url('Arimo-BoldItalic.woff') format('woff'),
        url('Arimo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ArimoBold';
    src: url('Arimo-Bold.woff2') format('woff2'),
        url('Arimo-Bold.woff') format('woff'),
        url('Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CabinBold';
    src: url('Cabin-Bold.woff2') format('woff2'),
        url('Cabin-Bold.woff') format('woff'),
        url('Cabin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('Cabin-MediumItalic.woff2') format('woff2'),
        url('Cabin-MediumItalic.woff') format('woff'),
        url('Cabin-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CabinMedium';
    src: url('Cabin-Medium.woff2') format('woff2'),
        url('Cabin-Medium.woff') format('woff'),
        url('Cabin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('Arimo-Regular.woff2') format('woff2'),
        url('Arimo-Regular.woff') format('woff'),
        url('Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('Cabin-BoldItalic.woff2') format('woff2'),
        url('Cabin-BoldItalic.woff') format('woff'),
        url('Cabin-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


