/* 
    CSS:   Extended CSS
    */

/*Grid CSS*/

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

body {
    letter-spacing: 0.05em;
}

.flexslider .slides>li {
    position: relative;
}

.et_password_protected_form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-intern {
    margin-left: 7px;
    padding-left: 8px;
    border-left: 1px solid #000;
    font-size: 15px;
    background: none;
    color: #000;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'ArimoBold',
        sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    float: right;
    display: inline-block;
}

.open-menu .menu-intern {
    display: none;
}

.flexslider .slides>li a.more-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.projectname a {
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
}

.w3eden .list-group .badge {
    background: #e9281d;
}

.w3eden .btn {
    font-weight: bold;
}

.w3eden a {
    color: #000;
}

.w3eden a:hover {
    color: #f20726;
}

.w3eden .btn.btn-inverse,
.w3eden .flat-inverse,
.w3eden .flat-inverse.btn-bordered:hover {
    background-color: #e63210;
    border-color: #e23900;
}

.w3eden .btn.btn-inverse:hover:not(.no-hover),
.w3eden .flat-inverse:hover:not(.no-hover),
.w3eden .flat-inverse.btn-bordered {
    background-color: transparent;
    border-color: #000;
    color: #000 !important;
}

.w3eden .btn.btn-primary {
    font-family: 'CabinBold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #000000;
    color: #000000 !important;
    background: transparent;
}

.contact-address h4 {
    width: 30%;
    position: relative;
    margin: 0;
}

.contact-address h4::after {
    content: '';
    width: 100%;
    height: 0;
    border: 1px solid #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

.search .et_pb_post {
    padding-bottom: 30px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}

.spacing-block {
    padding-bottom: 30px;
}

.whole-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gallery.clearfix:nth-child(n+5) {
    display: none;
}

.more-click {
    display: block;
    margin: 15px 0;
    padding: 15px;
}

.et_pb_post h2,
#left-area .post-meta a,
.et_pb_widget a {
    color: #f20726;
}

.datenschutz h2 {
    text-align: center;
    margin-top: 50px;
}

.datenschutz h4 {
    color: #f01b20;
}

/* .gform_validation_error .custom-selector select {
        display: inline-block;
        border: 1px solid #bbb;
        color: #4e4e4e;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; 
        line-height: 1.2;
        background: #f8f8f8;
        
        -webkit-appearance:none;
        -moz-appearance:none; 
        appearance:none;
        
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        width: 100%;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .gform_validation_error .custom-selector select {
            padding-right:30px;    
        }
    } */

/* Since we removed the default focus styles, we have to add our own */

/* Select arrow styling */

/* .gform_validation_error .custom-selector .ginput_container_select{
    position: relative;
}


    .gform_validation_error .custom-selector .ginput_container_select::after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: transparent;
        color: #000;
        pointer-events: none;
        -webkit-border-radius: 0 6px 6px 0;
        -moz-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
    } */


.gform_wrapper .top_label select.medium {
    width: 100% !important;
}

body .gform_wrapper {
    margin: 0;
}

body .gform_wrapper ul li.gfield:first-child {
    margin: 0;
}


body .validation_error {
    display: none;
}

body .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

body .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0;
}

body .gform_wrapper .field_description_below .gfield_description {
    padding: 0;
}

a:hover {
    color: #f20726;
}

article .event-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.gform_confirmation_message {
    background: #cac0e2;
    color: #fff;
    padding: 10px;
    margin: 20px 0;
}

.projectname a:hover {
    text-decoration: underline;
    color: #f20726;
}


.typeahead__query:focus,
.common-form li textarea.medium:focus,
input:focus {
    background: #f9ffc3 !important;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

#isotope-list .item {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flexer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flexer.head-flexer {
    flex-direction: column;
    align-items: flex-end;
}

/* #isotope-list .item:last-child{
    margin:0;
    padding:0;
    border: none;
} */


div#isotope-list::after {
    content: '';
    background: #fff;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.filters {
    margin: 0 0 20px 0;
    padding: 0 !important;
    text-align: center;
}

.filters li a {
    font-size: 16px;
    color: #000;
    font-family: 'Cabin';
    text-decoration: underline;
}

.filters li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px 0 10px;
}


.filters li a.selected,
.filters li a:hover {
    color: #ec1c28;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.item .slider-desc a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */

.clear {
    clear: both;
}

h2,
h1 {
    font-family: 'ArimoBold', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    letter-spacing: 0;
}

h2.center {
    text-align: center;
}

.other-projects h2.center {
    text-align: center;
    line-height: 1.5em;
}

h2::after,
h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 45px;
    border-bottom: 3px solid #f01b20;
    left: 50%;
    left: calc(50% - 22.5px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.secondary-nav {
    list-style: none;
    margin-top: 30px;
    text-align: center;
}

.event-excerpt {
    font-size: 14px;
    color: #ed2916;
}

h1.entry-title {
    margin-bottom: 25px;
    text-align: center;
    margin-top: 30px;
}

.secondary-nav li {
    display: inline-block;
    position: relative;
    margin: 0 15px 10px 0;
    padding-left: 15px;
    -webkit-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.secondary-nav li::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ed2916;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


.flexer.slider-desc {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flexer.slider-desc h4 {
    order: 2;
}

.flexer.slider-desc .event-excerpt {
    order: 1;
    margin: 0 0 10px 0;
}


.flexer.slider-desc .date-info {
    order: 3;
}


.secondary-nav li:hover {
    border-bottom: 1px solid red;
}

.secondary-nav li a:hover {
    text-decoration: none;
}

.text-blocks-container h2::after,
h2.non-center::after {
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

h2.center:before {
    right: 44%;
}

body,
p {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

.coordinating-body-news {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #cdcbd1;
}

.coordinating-body-news a {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    font-family: 'CabinBold';
    line-height: 1.04;
    letter-spacing: 0.05em;
}

.ginput_container input:focus,
.typeahead__container input:focus {
    background: #f9ffc3;
}

span.post-category {
    color: #f01b20;
}

.date-icon {
    font-family: ETmodules;
}

.date-icon:before {
    content: "\e023";
    color: #f01b20;
}

.et_pb_row {
    width: 100%;
}

span.post-category {
    color: #f01b20;
}

.banner-content {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    background: #fff;
    padding: 40px;
    text-align: center;
}

h3 {
    font-family: 'ArimoBold', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f01b20 !important;
    margin-top: 60px;
}

.banner {
    position: relative;
}

.kategories {
    width: 50%;
    float: left;
}

.block {
    display: block;
}

.logo {
    width: 12%;
    float: left;
}

.logo-cat-contact {
    margin-top: 30px;
}

.logo-cat-contact .logo img {
    max-width: 140px;
}

.contact-person {
    width: 88%;
    float: left;
    padding-left: 3%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-person span,
.contact-person span>a {
    display: block;
}

.contact-person span.non-block {
    display: inline-block;
    margin-right: 5px;
}

.contact-person .name {
    font-weight: bold;
    font-size: 18px;
}

.name-holder {
    margin-bottom: 5px;
}

.gallery {
    overflow: hidden;
}

.gallery .hover-data {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 90%;
    opacity: 1;
    padding: 20px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.85);
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    text-align: center;
}

.gallery:hover .hover-data {
    opacity: 1;
}

.gallery .hover-data>a {
    display: block;
    font-size: 40px;
    color: #000;
    margin-bottom: 10px;
}

.gallery .hover-data>a:hover {
    text-decoration: none;
}

.gallery .hover-data .album-count::before {
    content: '(';
}

.gallery .hover-data .album-count::after {
    content: ')';
}

.gallery .hover-data>span {
    display: inline-block;
    font: bold 17px/20px 'CabinBold';
}

.gallery .hover-data>span.album-name {
    text-transform: uppercase;
}

.gallery .hover-data>span.album-date {
    font-weight: normal;
    font-size: 16px;
}

.gallery .hover-data .album-date {
    display: block;
}

.contact-person a {
    color: #000000;
}

.contact-person a:hover {
    text-decoration: underline;
}

.contact-person div[class*="col-"] {
    position: relative;
}

.contact-person div[class*="col-"]>span[class*="icon-"] {
    color: #f01d22;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 5px;
    left: 2%;
}

.contact-person h3 {
    margin: 0;
}

.contact-person .col-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 4%;
    box-sizing: border-box;
    word-wrap: break-word;
}

#sort-wrapper {
    display: inline-block;
    position: relative;
    min-width: 250px;
    margin-bottom: 50px;
}

#sorts {
    display: inline-block;
    position: absolute;
    width: 100%;
    z-index: 999;
}

#toggler-sort {
    border: 1px solid #eee;
    padding: 5px 25px 5px 10px;
    overflow: hidden;
}

#toggler-sort:hover,
#sorts button:hover {
    cursor: pointer;
}

#sorts button:hover {
    background: #eee;
}

#toggler-sort::after {
    position: absolute;
    content: "\33";
    font-family: 'ETmodules';
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#toggler-sort.open::after {
    content: "\32";
}

#sorts button {
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

ul.styled a:hover,
.row-title:hover {
    text-decoration: underline;
}

[class*="col-"].none {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

input.search-field {
    border: 1px solid #333333;
    padding: 6px 8px;
    font: 400 16px/1 'Cabin';
    color: #000000;
    margin: 0;
    border-radius: 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}

input.search-field:focus::-webkit-input-placeholder {
    color: transparent;
}

input.search-field:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input.search-field:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input.search-field:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10+ */

input.search-field:focus {
    background: #f9ffc3;
}

a.login-menu:hover {
    color: #f20726;
}

a.login-menu {
    text-transform: uppercase;
    font-family: 'ArimoBold', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    float: right;
    padding: 0;
}

.search-form {
    float: left;
    margin-right: 25px;
    position: relative;
    padding-right: 30px;
}

.statement {
    background-color: #f1eff6;

}

a:not(.et_pb_button):hover {
    text-decoration: underline;
}

.mfp-bottom-bar {
    margin-top: -30px;
}

.statement .container {
    position: relative;
    height: 100%;
    padding: 50px 0 !important;
}

.et_header_style_left #et-top-navigation,
.et_header_style_split #et-top-navigation {
    padding-top: 25px;
}

.project-intro-section {
    padding-top: 80px;
}

.project-intro-section .clearfix {
    margin-top: 35px;
}


.project-intro-section .clearfix>div>* {
    width: 50%;
    float: left;
}


.project-intro-section .clearfix>div p {
    padding-right: 50px;
}

.project-intro-section .clearfix>div ul li,
ul.styled li,
.text-block li,
#footer-widgets .footer-widget li,
.listing-section ul:not(.secondary-nav) li,
.et_pb_widget ul li {
    position: relative;
    padding-left: 25px;
}

.project-intro-section .clearfix>div ul li::before,
ul.styled li::before,
.text-block ul li::before,
.listing-section ul:not(.secondary-nav) li::before,
#footer-widgets .footer-widget li::before,
.et_pb_widget ul li::before {
    content: "\e90a";
    font-weight: normal;
    color: #000;
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0 !important;
}

.listing-section .et_pb_text {
    overflow: hidden;
}

#footer-widgets .footer-widget li::before {
    border: none;
    color: #fff !important;
}

.projectlist .container #karte {
    z-index: 9999;
}

.download-title a:hover,
.download-title a:visited,
.download-title a:focus,
.download-title a:active {
    text-decoration: none;
    color: #f20726;
    cursor: text;
}

.listing-section ul {
    list-style: none;
}

.listing-section ul:not(.secondary-nav) li {
    padding-bottom: 10px;
}

.listing-section ul:not(.secondary-nav) li a {
    color: #000000;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 3px;
}

.listing-section ul:not(.secondary-nav) li a:hover {
    color: #f20726;
    /*text-decoration: underline;*/
}

.bg-grey {
    background: #f9f9f9;
}

.kategories ul {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
}

.text-center {
    text-align: center;
}


.statement-text {
    text-align: center;
    color: #000;
    /*  position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.text-block {
    float: left;
    width: 50%;
    padding: 30px 30px 30px 0;
}

.gallery-images {
    display: none;
}

.album-cover {
    height: 420px;
    width: 485px;
    float: left;
}

.backtomap {
    display: block;
}

.common-form .list {
    width: 100%;
}

@media only screen and (min-width:959px) {
    div.half-desktop {
        width: 58.33%;
        margin: 0 auto;
    }
}

div#input_1_3 {
    width: 60%;
}

#main-content .container {
    padding-top: 45px;
}

.common-form .nice-select {
    height: 31px;
    line-height: 20px;
    border-radius: 0;
    padding: 5px 4px;
    border: 1px solid #bbb;
    width: 100%;
}

body .common-form .list li {
    width: 100% !important;
}

.common-form li:first-child {
    width: 15%;
}

.gform_wrapper ul li.gfield {
    display: inline-block;
    clear: none !important;
    vertical-align: text-bottom;

}

.contact-top-section {
    padding-bottom: 60px;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    /* background-color: DodgerBlue; */
    position: relative;
}

li.custom-select {
    padding-right: 15px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 55%;
    right: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #000 transparent transparent transparent;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

body .gform_wrapper label.gfield_label+div.ginput_container {
    margin-top: 0 !important;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    margin-top: -6px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #000;
    padding: 8px 16px;
    border: 1px solid #d5d5d5;
    background: transparent;
    cursor: pointer;
}

li.custom-select .select-items div,
li.custom-select .select-selected {
    padding: 0 5px;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
}

.select-selected {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #eee;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


#otherprojectsform {
    justify-content: space-between;
}

#otherprojectsform .custom-select {
    width: 60%;
}


form#otherprojectsform .et_pb_button {
    width: 40%;
}

.kategories h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.contact-person h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h2 {
    position: relative;
}

.statement-text,
.statement-text p {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.7;
    letter-spacing: 0.02em;
}

.text-blocks-container h2 {
    margin-bottom: 45px;
}

.events {
    background: #f1eff6;
}

.events {
    background: #f1eff6;
    overflow: hidden;
    padding-bottom: 40px;
}

.event-date span {
    display: block;
}

.event-date {
    float: left;
    margin-right: 20px;
}

.event-date span:not(.year) {
    background: #cac0e2;
    color: #fff;
}

.event-date span {
    padding: 5px 20px;
    text-align: center;
}

.event-date.with-enddate span {
    padding: 5px;
}

span.icon-mail {
    padding-right: 10px;
}

.event-date span {
    font-size: 15px;
    line-height: 23px;
    font-family: 'ArimoBold';
    font-weight: bold;
}

.slider-desc h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'ArimoBold';
    padding-bottom: 5px;
}

/* #main-content{
    padding-bottom: 60px;
    } */

span[class*='-group']::after {
    content: '|';
    margin: 0 0 0 5px;
}

.widget_search::after {
    content: '';
    display: table;
    clear: both;
}

.et_pb_post .entry-content {
    padding-top: 0;
}

span.cat-group::after,
span[class*='-group']:last-child::after {
    margin: 0;
    content: none;
}

.date-info {
    padding-bottom: 5px;
}

.slider-desc p {
    font-weight: normal;
    line-height: 1.43;
}

.date-info span {
    font: normal 16px/1.43 'Cabin';
    color: #000;
}

.date-info span[class*='icon-'] {
    color: #f01b20;
}

.event-date span.month {
    text-transform: uppercase;
}

.event-date span.day {
    font-size: 25px;
    padding-bottom: 10px;
    white-space: pre;
}

.event-date span.year {
    font-size: 17px;
}

.events .flexslider .slides>li {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}


.events .flex-control-paging li a {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
}

.events h2 {
    margin-bottom: 50px;
}

.events .flex-control-paging li a.flex-active {
    background: #000;
}

#main-header {
    z-index: 9999;
}

.events h3 {
    text-align: center;
    padding-bottom: 45px;
    text-transform: uppercase;
}

.newsletter {
    background: #f9f9f9;
    overflow: hidden;
    padding-bottom: 50px;
}

.otherprojectsselect {
    padding: 40px;
}

form#otherprojectsform {
    padding: 25px 0;
    margin-bottom: 10px;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

body .select2-container--default .select2-selection--single {
    height: 40px !important;
    border-color: #d5d5d5;
}

#eventCalendarLocaleFile+h2 {
    margin-bottom: 20px;
}

ul.styled li {
    list-style-type: none;
}

.contact-address {
    width: 85%;
    margin: 0 auto;
}

.contact-address .et_pb_text_inner>div {
    width: 48%;
    display: inline-block;
}


body .gform_body .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 29px;
}

body .gform_body .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px;
}

body .gform_body .select2-container--default .select2-selection--single {
    height: 31px !important;
    border-color: #d5d5d5;
}

form#otherprojectsform .et_pb_button {
    margin-left: 15px;
    text-transform: uppercase;
}

.et_pb_button.border-color {
    border-color: #ba9ded;
}

.gallery-holder {
    text-align: center;
    line-height: 0;
}

.gallery-holder .gallery {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 400px;
}

.gallery-holder .gallery img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.mfp-wrap {
    overflow: hidden;
}

body .mfp-image-holder .mfp-close,
body .mfp-iframe-holder .mfp-close {
    opacity: 1;
    cursor: pointer !important;
}

body .mfp-figure:after {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.backtomap,
.common-form,
.common-form_wrapper {
    display: block;
    width: 75%;
    text-align: center;
    margin: 0 auto !important;
}

.common-form input {
    width: 100% !important;
    line-height: 1 !important;
}

.other-projects {
    padding-bottom: 50px;
}

.et_pb_button:before,
.et_pb_button:after {
    margin-left: 0;
    font-size: 22px;
}

.top-equal-section {
    position: relative;
}

.top-equal-section h2,
.bottom-equal-section h2 {
    padding-left: 15%;
    position: relative;
    margin-bottom: 5%;
    padding-bottom: 15px;
    min-height: 65px;
}

.top-equal-section h2::before,
.bottom-equal-section h2::before {
    font-family: 'icomoon';
    position: absolute;
    left: -5px;
    font-size: 50px;
    top: 10px;
    font-weight: 400;
}

.bottom-equal-section .home-calendar h2::before {
    left: -1px;
}

.top-equal-section h2::after,
.bottom-equal-section h2::after {
    left: 0;
    bottom: 0;
}

/*ICONS CSS*/
.body-news h2::before {
    content: "\e903";

}

.home-map h2::before {
    content: "\e904";
}

.home-calendar h2::before {
    content: "\e905";
}

.home-downloads h2::before {
    content: "\e906";
}


.top-equal-section::after,
.bottom-equal-section::before,
.top-equal-section::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: #f1eff7;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.bottom-equal-section::before {
    right: auto;
    left: 0;
}

.top-equal-section .margin-right-0 {
    background: #f9f9f9;
    position: relative;
    z-index: 2;
}

.top-equal-section::before {
    background: #f9f9f9;
    right: auto;
    left: 0;
}

.top-equal-section .margin-right-0,
.bottom-equal-section .margin-right-0 {
    padding: 85px 25px 45px 0;
}

.top-equal-section .equal-right,
.bottom-equal-section .equal-right {
    padding: 85px 15px 45px 80px;
}

.top-equal-section .equal-right,
.bottom-equal-section .margin-right-0 {
    position: relative;
    z-index: 2;
    background: #f1eff7;
}

.bottom-equal-section .equal-right {
    position: relative;
    z-index: 2;
    background: #fff;
}

.contact-person .relative-holder>div {
    position: relative;
}

.contact-person .relative-holder span[class*="icon-"] {
    left: -15% !important;
    position: absolute;
    color: #f01d22;
    top: 5px;
}





.footer-widget h4.title {
    text-transform: uppercase;
    font-family: 'ArimoBold', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.footer-widget .fwidget.et_pb_widget.widget_media_image {
    margin-bottom: 5%;
}

#top-menu li a {
    text-transform: uppercase;
    font-family: 'ArimoBold', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#top-menu li a:hover {
    color: #f01b20;
}

#top-menu li.current-menu-item a {
    color: #f01b20;
}

.no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.coordinating-body {
    background-color: #f1eff6;
}

.et_pb_column.margin-right-0 {
    margin-right: 0;
}

/*.et_pb_column_1_2.margin-right-0{width: 50%; padding: 50px 100px 0 200px; background-color: #f9f9f9; padding-bottom: 20px;}*/
*/ .home .et_pb_column_3 {
    background-color: #f1eff6;
}

.home .et_pb_column_2 {
    background-color: #f1eff6;
}

.projectlist .left {
    width: 48%;
    float: left
}

.projectlist .right {
    width: 48%;
    float: right
}

.downloads_lister {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: 1px solid #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

figure.download_image {
    margin: 0 20px 0 0;
}

.et_header_style_left #et-top-navigation {
    padding-left: 0 !important;
}

.download_right {
    width: 100%;
}

.downloads_list {
    text-align: center;
}

.downloads_list h2 {
    color: #fff;
}

.downloads_list h2::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-color: #fff;
}

.download-title {
    border-bottom: 1px solid #f2f2f2;
    line-height: 1.35;
    margin-bottom: 5px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    overflow: hidden;
}

.purple-bg {
    background: #927cc1;
    padding-bottom: 60px;
}

#main-content .container::before {
    content: none !important;
}

.downloads_list .typeahead__container {
    margin-top: 80px;
}

/*.projectlist div#karte{
    position: relative;
}*/


@media only screen and (min-width: 992px) {
    .projectlist #liste-karte {
        width: 50%;
        padding-left: 80px;

    }

    .contact-top-section {
        padding-top: 40px;
    }

    .projectlist {
        display: flex;
        align-items: center;
    }

    .projectlist div#karte {
        margin: 0 auto 50px;
        width: 45%;
    }
}

.projectlist div#karte {
    right: 80px;
    left: auto;
}


#liste-karte .ui-accordion .ui-accordion-header {
    position: relative;
    font-size: 100%;
    background: #ffffff;
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    margin: 0 0 6px 0;
    font: 700 17px/29px 'Cabin';
    text-transform: none;
    color: #000 !important;
    display: inline-block;
    width: 100%;
}


#liste-karte .ui-accordion .ui-accordion-header-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    text-indent: 0;
    width: auto;
    height: auto;
    background: none;
    font-size: 15px;
    font-weight: normal;
}

.ui-accordion-header-icon::after {
    content: "\e90d";
    color: #ec1e28;
    font-family: 'icomoon';
}

.ui-accordion-header-active .ui-accordion-header-icon::after {
    content: "\e90e";
}


#liste-karte .ui-accordion .ui-accordion-content {
    padding: 0 20px 20px 20px !important;
    border: none;
    /*height: 100% !important;*/
}

#liste-karte .ui-accordion .ui-accordion-header.ui-accordion-header-active,
#liste-karte .ui-accordion .ui-accordion-header.ui-accordion-header-active+div {
    background: #f1eff6;
    border: none;
    margin-bottom: 0;
    height: 100% !important;
}

#liste-karte .ui-accordion .ui-accordion-header.ui-accordion-header-active+div {
    margin-bottom: 6px;
}

#liste-karte .ui-accordion .ui-accordion-header.ui-accordion-header-active+div>*:first-child {
    padding-top: 20px;
    border-top: 1px solid #cdcbd1;
}

#liste-karte .ui-state-active .ui-icon,
#liste-karte .ui-button:active .ui-icon {
    background: none;
}

form .typeahead__field input,
form .typeahead__field textarea,
form .typeahead__field [contenteditable],
form .typeahead__field .typeahead__hint,
form .typeahead__field input:focus,
form .typeahead__field input:active,
form .typeahead__field textarea:focus,
form .typeahead__field textarea:active,
form .typeahead__field [contenteditable]:focus,
form .typeahead__field [contenteditable]:active,
form .typeahead__field .typeahead__hint:focus,
form .typeahead__field .typeahead__hint:active,
form .typeahead__container.hint .typeahead__query> :last-child,
.typeahead__hint {
    /* background: transparent; */
    font: normal 20px/1 'Cabin';
    border: none;
    /*  border-bottom: 1px solid #beb0da;
   color: #fff !important; */
}

form .typeahead__field .typeahead__hint,
form .typeahead__container.hint .typeahead__hint {
    display: none !important;
    opacity: 0.5;
}

form .typeahead__list {
    list-style-type: none;
}

form .typeahead__cancel-button {
    color: #fff;
    font-size: 20px;
}

#main-content .purple-bg .container:before {
    content: none;
}

.typeahead__container button,
.typeahead__container html [type="button"],
.typeahead__container [type="reset"],
.typeahead__container [type="submit"] {
    display: none;
}

.download-title span {
    font-size: 16px;
}

.downloads_lister p,
.download-title>a {
    display: inline-block;
    width: 70.67%;
}

.downloads_lister .et_pb_button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#karte span.group-holder a,
#karte span.group-holder h4,
#karte span.group-holder span {
    text-indent: 0;
    display: block;
    color: #000;
    font-size: 16px;
    line-height: 1.7em;
}

#karte span.group-holder a:hover {
    text-decoration: underline;
}

#karte>span {
    position: absolute;
}

#karte span.group-holder span.title {
    color: #ed2916;
    font-weight: bold;
}

#karte span.group-holder {
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 15px 25px;
    top: -60px;
    position: absolute;
    width: 270px;
    z-index: 999;
}

.gform_footer .et_pb_button {
    text-transform: uppercase;
}

#karte span.group-holder span.title:hover {
    cursor: pointer;
}

/*#karte > span:hover::after{
    content: '';
    width: 0;
    border: 10px solid transparent;
    border-top: 25px solid #fff;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 5;
    height: 0;
}

#karte > span:hover::before{
    content: '';
    width: 0;
    border: 10px solid transparent;
    border-top: 25px solid #fff;
    position: absolute;
    top:-5px;
    left: 50%;
    z-index: 5;
    height: 0;
    }*/

#karte>span:hover:after,
#karte>span:hover:before,
#karte>span.k_show::after,
#karte>span.k_show::before {
    top: -5px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    z-index: 999;
    position: absolute;
    pointer-events: none;
}

#karte>span:hover:after,
#karte>span.k_show::after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

#karte>span:hover:before,
#karte>span.k_show::before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #d9d9d9;
    border-width: 16px;
    margin-left: -16px;
}

#liste-karte .img-responsive {
    display: none;
}

.download-title a {
    font-family: 'CabinBold', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #f20726;
}

.right-align {
    float: right;
}

.et-pb-controllers {
    bottom: 50px;
}

.et-pb-controllers a {
    width: 75px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 0px;
}

.et-pb-controllers .et-pb-active-control {
    background-color: #f01b20 !important;
}

a.et_pb_button {
    font-family: 'CabinBold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #000000;
    color: #000000 !important;
}

.et_pb_button:hover,
.gform_button:hover,
.et_submit_button:hover {
    background: #ba9ded !important;
    cursor: pointer;
}

.gform_button {
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

#gform_1 {
    margin-bottom: 60px;
}

a.et_pb_button::after,
.w3eden .btn.btn-primary::after,
.et_submit_button::after {
    content: "\45";
    font-size: 18px;
    position: absolute;
    top: 50% !important;
    line-height: 0;
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: ETmodules;
    right: 5px;
    font-weight: 400;
}

.w3eden .btn.btn-primary::before,
.et_submit_button::before {
    font-size: 17px;
}

.w3eden .btn.btn-primary {
    position: relative;
}

.w3eden .btn.btn-primary:hover,
.et_submit_button:hover {
    padding: 0.3em 2em 0.3em 1em !important;
    border-color: transparent !important;
    background: #ba9ded !important;
    cursor: pointer;
}

a.et_pb_button:hover::after,
.w3eden .btn.btn-primary:hover::after,
.et_submit_button::before {
    opacity: 1;
}

.et_password_protected_form {
    width: 50%;
    margin: 0 auto;
}

a.et_pb_button.purple {
    border: 2px solid #ba9ded;
    color: #ba9ded !important;
}

.et_pb_button.purple:hover {
    background: #ba9ded !important;
    color: #ffffff !important;
}

a.et_pb_button.purple:hover::after {
    top: 0;
}

.coordinating-body-news a.et_pb_button:hover:after {
    top: 0;
}

.icon-download:before {
    font-family: ETmodules;
    content: "\e092";
    color: #f01b20;
}

.icon-square:before {
    font-family: ETmodules;
    content: "\e08c";
    color: #f01b20;
}

.download-count [class^="icon-"],
.coordinating-body-news [class^="icon-"] {
    color: #f01b20;
    font-weight: normal;
}

.download-count>span {
    display: inline-block;
    margin-right: 25px;
}

.gform_button.button {
    background-color: #ffffff;
    border: 2px solid;
    padding: 5px 30px;
    text-transform: uppercase;
}

#gform_1 h3.gform_title {
    display: none;
}

#field_1_2 .gfield_label {
    display: none;
}

body .gform_wrapper .top_label .gfield_label,
body .gform_wrapper .top_label label {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 40px;
}

/* .gform_wrapper .top_label select.medium{ width: 80% !important; } */
.common-form li:nth-child(3) {
    width: 99%;
}

.common-form li:nth-child(2) {
    width: 84%;
}

.common-form li:nth-child(2n+3) {
    width: 57%;
}

.common-form .gfield_contains_required.field_sublabel_above>label {
    display: none;
}

.common-form .gfield_contains_required.field_sublabel_above .no_prefix span label::after {
    content: '*';
    color: #790000;
    margin-left: 5px;
}

.gform_wrapper .gform_footer {
    text-align: center;
}

.common-form input:not[type="submit"] {
    width: 100% !important;
}

.common-form li textarea.medium {
    width: 100%;
}

.common-form li:nth-child(2n+4) {
    width: 42%;
}

.common-form li.email-wrapper,
.common-form li.fuller {
    width: 99% !important;
}

#gform_1 .gform_footer {
    text-align: center;
}

.newsletter-setion {
    background-color: #f9f9f9 !important;
}

#search-project {
    height: 340px;
    background: #927cc1;
}

.et_pb_row_fullwidth .et_pb_column_1_2 {
    width: 50%
}

.et_pb_row.et_pb_row_fullwidth {
    width: 100% !important;
    max-width: 100% !important;
}

.bg-section {
    background-color: #f1eff6 !important;
}

#main-footer {
    background-color: #4c4855 !important;
}

#main-footer p,
#footer-widgets .footer-widget li a,
#main-footer p,
#footer-widgets .footer-widget li {
    font-size: 14px;
    line-height: 1.3em;
}

#footer-bottom {
    background-color: #4c4855 !important;
}

/*Rajesh KC Added CSS*/

.container {
    width: 100%;
    max-width: 1200px;
}

article.post-password-required {
    width: 100%;
}

.text.show {
    display: inline-block !important;
}

.search-form .search-submit {
    position: absolute;
    width: 30px;
    height: 100%;
    background: #ed2916;
    color: #fff;
    top: 0;
    right: 1px;
    border: none;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

#newsletter-portion {
    position: relative;
    padding-bottom: 110px !important;
    /* overflow: hidden; */
}



body:not(.home) #main-content::after,
body:not(.home) #main-content::before,
.et_pb_slider.home-section::after,
.et_pb_slider.home-section::before,
#newsletter-portion::after,
#newsletter-portion::before {
    content: '';
    position: absolute;
    bottom: -50px;
    height: 95px;
    z-index: 5;
    width: 100%;
    background: #f01b20;
    -webkit-transform: skewY(3.3deg);
    -ms-transform: skewY(3.3deg);
    -o-transform: skewY(3.3deg);
    transform: skewY(3.3deg);
}

body:not(.home) #main-content {
    position: relative;
    padding-top: 25px;
}

body:not(.home) #main-content::after,
body:not(.home) #main-content::before {
    bottom: auto !important;
    z-index: 999 !important;
    top: -20px !important;
    height: 65px !important;
}

body:not(.home) #main-content::before,
.et_pb_slider.home-section::before,
#newsletter-portion::before {
    background: #cac0e2;
    -webkit-transform: skewY(-3.3deg);
    -ms-transform: skewY(-3.3deg);
    -o-transform: skewY(-3.3deg);
    transform: skewY(-3.3deg);
    z-index: 6;
}

#newsletter-portion::after {
    background: #cac0e2;
}

#newsletter-portion::before {
    background: #f01b20;
}

.et_pb_section_0+div,
#main-footer {
    position: relative;
    z-index: 10;
}

.et_pb_section {
    overflow: hidden;

}

form.et_password_protected_form .et_submit_button {
    float: none;
}

#sidebar .styled {
    margin-top: 20px;
}

.sidebar {
    list-style-type: none;
}

#top-menu li a::after,
#top-menu li.current-menu-item a::after {
    content: '';
    border: 10px solid transparent;
    border-bottom: 10px solid #f01b20;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

#top-menu li a:hover::after,
#top-menu li.current-menu-item a::after {
    opacity: 1;
}

.search-form #et_search_icon:hover::before {
    color: #fff;
}

.search-form .search-submit:hover {
    cursor: pointer;
    /*color: #ed2916;
    background: #fff;
    border: 1px solid #000;*/
}

.search-form #et_search_icon::before {
    top: 50%;
    left: 7.5px;
    -webkit-transform: translateY(-50%) rotate(270deg);
    -ms-transform: translateY(-50%) rotate(270deg);
    -o-transform: translateY(-50%) rotate(270deg);
    transform: translateY(-50%) rotate(270deg);
    font-size: 15px;
    font-weight: 700;
}

.search-form .icon-search {
    font-size: 15px;
}


#search-section {
    float: right;
    margin-top: 20px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.text-search {
    display: none;
}

h2.entry-title::after {
    content: none;
}

#icon-holder-search {
    display: none;
}

div[id*='fixed-holder'] {
    position: fixed;
    right: 0;
    top: 35%;
    z-index: 999;
}

div[id*='fixed-holder'] .icon-wrap {
    display: block;
    background: #f01b20;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}

div[id*='fixed-holder'] .icon-wrap>a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div[id*='fixed-holder'] .icon-wrap.mail-bg {
    background: #000000;
}

div[id*='fixed-holder'] .icon-wrap>span.text {
    font: bold 18px 'CabinBold';
    color: #fff;
    text-transform: uppercase;
    /* display: none; */
    line-height: 0;
    padding-left: 10px;
}

div[id*='fixed-holder'] .name {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 5px;
}

div[id*='fixed-holder'] .icon-wrap.login-bg {
    background: #000000;
}

div[id*='profile-id'] h4 {
    margin: 0;
    color: #f20726;
    padding: 0;
}

div[id*='fixed-holder'] div:not(.textwidget) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

#profile-id,
#profile-id p {
    color: #000;
}

div[id*='fixed-holder'] div[id*='profile-id'] {
    display: none;
    position: absolute;
    left: -300px;
    top: 0;
    width: 300px;
    background: #eee;
    padding: 15px;
    -webkit-box-shadow: 0 2px 7px -2px #000;
    box-shadow: 0 2px 7px -2px #000;
}


div[id*='fixed-holder'] .icon-wrap span[class*='icon-'] {
    color: #fff;
    font-size: 28px;
}



form .typeahead__cancel-button {
    color: #000;
}

.downloads_list .typeahead__container.result.hint .js-typeahead {
    background: #f9ffc3;
    color: #000 !important;
}

.downloads_list .typehead__container.result.hint .typeahead__cancel-button {
    color: #000;
}

#searchblock {
    max-width: 100% !important;
}

.contact-wrap {
    padding-left: 22px;
    position: relative;
    line-height: 1;
    display: inline-block;
}

.mobile-fixed-section {
    display: none;
}

.contact-wrap:nth-of-type(1) {
    margin-top: 15px;
}

.contact-wrap.email a {
    display: block;
    position: relative;
    color: #000;
    margin: 0 0 15px;
}

.contact-wrap.email a:hover {
    color: #f20726;
}

.contact-wrap::before,
.contact-wrap.email a::before,
.tel-icon::before,
.fax-icon::before,
.email-icon::before {
    position: absolute;
    font-family: 'icomoon';
    left: 0;
    top: 0;
}

.tel-icon::before,
.fax-icon::before,
.email-icon::before {
    position: relative;
    margin-right: 10px;
}

.contact-wrap.location::before {
    content: '\e909';
}

.tel-icon::before,
.contact-wrap.tel::before {
    content: '\e907';
}

.fax-icon::before,
.contact-wrap.fax::before {
    content: '\e908';
}

.email-icon::before,
.contact-wrap.email a::before {
    content: '\e902';
    left: -22px;
}

.email-icon::before {
    left: 0;
}

.et_pb_section {
    position: relative;
    z-index: 99;
}

.passwordtext {
    width: 50%;
    /* text-align: center; */
    margin: 0 auto;
    padding-top: 100px;
}


@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    [class*="col-"] {
        float: left;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1080px) {

    .et_fixed_nav.et_show_nav #page-container {
        padding-top: 125px !important;
    }
}


@media only screen and (min-width:1400px) {
    #karte span.group-holder {
        width: 300px;
    }
}

@media only screen and (min-width:1600px) {

    .et_pb_slider.home-section::after,
    .et_pb_slider.home-section::before,
    #newsletter-portion::after,
    #newsletter-portion::before {
        bottom: -170px;
        height: 200px;
    }

    body:not(.home) #main-content::after,
    body:not(.home) #main-content::before {
        top: -70px !important;
    }

    body:not(.home) #main-content::after,
    body:not(.home) #main-content::before {
        height: 100px !important;
    }


}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1080px;
    }

    .footer-widget h4.title {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1200px) {

    .container,
    article.post-password-required {
        max-width: 100%;
        padding: 0 20px;
    }

    .projectlist div#karte {
        width: 50%;
    }

    .et_pb_post h2 {
        font-size: 22px;
    }

    .downloads_list .typeahead__container {
        margin-top: 35px;
    }

    #karte span.group-holder {
        right: 0;
        width: 300px;
    }

    .footer-widget h4.title {
        font-size: 14px;
    }
}

@media only screen and (max-width:1900px) {
    .home .et_pb_slide {
        background-image: url('./assets/1024x500-2.jpg') !important;
    }

    .logo-cat-contact .logo img {
        max-width: 100%;
    }

    .et_pb_section .et_pb_text_inner,
    .et_pb_button_module_wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}


.home-slider .et_pb_slide_image {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: none !important;
}

.home-slider .et_pb_slide:first-child .et_pb_slide_image img.active {
    max-height: none !important;
}

.home-slider .et_pb_slides .et_pb_slide {
    height: 100% !important;
    background: none !important;
    margin: 0;
    padding: 0;
}

.et_pb_slider .home-slider .et_pb_container {
    max-width: 100%;
    height: 100% !important;
    width: 100% !important;
}

.home-slider .et_pb_slide_image img {
    width: 100% !important;
    animation: none !important;
}

@media (max-width: 767px) {
    .home-slider .et_pb_slide_image {
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative;
    }

    .home-slider.mobile,
    .home-slider .et_pb_slide_description {
        display: none !important;
    }

    .home-slider .et_pb_slides .et_pb_slide {
        height: auto !important;
    }
}

@media (max-width:480px) {
    .home-slider.mobile {
        display: block !important;
    }

    .home-slider.tablet {
        display: none !important;
    }
}


@media only screen and (max-width:1080px) and (min-width: 981px) {
    #top-menu li a {
        font-size: 90%;
    }

    #top-menu li {
        padding-right: 12px;
    }
}

@media only screen and (min-width: 981px) {}

@media only screen and (max-width: 980px) {

    .bundnisse_link,
    .map_block_3 {
        display: none !important;
    }

    .top-equal-section h2,
    .bottom-equal-section h2 {
        text-align: center;
        padding: 0;
        max-width: 65%;
        margin: 0 auto 60px;
    }

    .et_non_fixed_nav.et_transparent_nav #main-header,
    .et_non_fixed_nav.et_transparent_nav #top-header,
    .et_fixed_nav #main-header,
    .et_fixed_nav #top-header {
        position: fixed;
    }

    #search-section {
        margin: 0 20px 0 0;
    }

    /* .downloads_list .typeahead__container .js-typeahead{
        background: #fff;
        color: #000 !important;
    }
 */
    .margin-right-0.et_pb_column_3 {
        border-top: 1px solid #fff;
    }

    .et_pb_slider.home-section::after,
    .et_pb_slider.home-section::before,
    .et_pb_slider.home-section::after,
    .et_pb_slider.home-section::before {
        bottom: -50px;
        height: 70px;
    }

    body:not(.home) #main-content::after,
    body:not(.home) #main-content::before {
        top: -50px !important;
    }

    #main-header .container.et_menu_container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px 15px 20px !important;

    }

    #main-header .container,
    .container {
        padding: 0 20px !important;
    }

    .backtomap,
    .common-form {
        width: 100%;
    }

    .projectlist .container {
        padding: 0 !important;
    }

    #main-content .container {
        padding-top: 35px !important;
    }

    .top-equal-section .margin-right-0,
    .bottom-equal-section .margin-right-0,
    .top-equal-section .equal-right,
    .bottom-equal-section .equal-right {
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }



    .et_pb_button_module_wrapper {
        text-align: center;
    }

    .et_header_style_left .logo_container {
        position: static;
    }

    .mobile_menu_bar {
        background: #000;
        padding: 0 !important;
        margin-bottom: 24px;
        border-radius: 3px;
    }

    .et_mobile_menu {
        padding: 0 20px;
        border-color: transparent !important;
    }

    .et_mobile_menu li a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #bfbfbe;
        color: #000;
        text-transform: uppercase;
    }

    .mobile_nav.opened .mobile_menu_bar::before {
        content: '\4d';
    }

    .et_mobile_menu li a:hover,
    .et_mobile_menu li.current-menu-item a {
        color: #f01b20;
    }

    .mobile_menu_bar:before {
        color: #fff !important;
    }

    .et_header_style_left #logo,
    .et_header_style_split #logo {
        max-width: 80%;
        max-height: 80%;
    }

    .top-equal-section h2::before,
    .bottom-equal-section h2::before {
        position: static;
        display: block;
        line-height: 1;
        margin-bottom: 15px;
    }

    .top-equal-section h2::after,
    .bottom-equal-section h2::after {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -20px;
    }

    #liste-karte .img-responsive {
        display: block;
        max-width: 50%;
        height: auto;
        margin: 0 auto;
    }

    #karte {
        display: none;
    }

    .contact-person div[class*="col-"] {
        width: 33%;
    }

    .contact-person .col-3 {
        padding-left: 5%;
    }

    .locationinfo {
        display: block !important;
    }

    .locationinfo>div {
        max-height: 0;
        overflow: hidden;
        padding: 0 10px
    }

    div#liste-karte {
        height: auto !important;
    }

    #accordion h3 {
        margin: 0 0 1px;
        font: 600 14px/1 'CabinSemiBold';
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background: #edeeee;
        color: #444 !important;
        align-items: center;
        text-transform: none;
    }

    #accordion h3.active {
        background: #ccc;
    }

    .locationinfo>div img {
        margin-bottom: 20px !important;
    }

    #accordion h3:hover {
        cursor: pointer;
    }

    #accordion h3::after {
        content: '+';
        font-size: 25px;
    }

    #accordion h3.active::after {
        content: '-';
    }


}

@media only screen and (max-width: 768px) {

    .home .et_pb_slide {
        background-image: url('./assets/768x512.jpg') !important;
    }

    .gallery-holder .gallery {
        width: 50%;
    }

    .bottom-equal-section .margin-right-0 {
        background: #f9f9f9;
    }

    body.home .et_pb_slides .et_pb_slide {
        height: 50vh;
    }

    .purple-bg {
        padding-bottom: 30px;
    }

    .downloads_list .typeahead__container {
        margin-top: 20px;
    }

    #main-content .container {
        padding-top: 35px;
    }

    .text-block {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .et_password_protected_form {
        width: 75%;
    }

    .text-blocks-container h2 {
        margin-bottom: 20px;
    }

    .project-intro-section .clearfix>div>* {
        width: 100%;
        margin-bottom: 10px;
    }

    .project-intro-section .clearfix>div p {
        padding-right: 0;
    }
}


@media only screen and (max-width:767px) {

    .passwordtext {
        width: 76%;
        margin: 0 auto;
        padding-top: 100px;
    }


    .home .et_pb_slide {
        background-image: url('./assets/768x512.jpg') !important;
    }

    .top-equal-section h2,
    .bottom-equal-section h2,
    h2 {
        font-size: 22px;
    }

    .top-equal-section h2,
    .bottom-equal-section h2 {
        max-width: 100%;
    }

    .contact-address,
    .backtomap,
    .common-form,
    .common-form_wrapper {
        width: 90%;
    }

    .downloads_lister p,
    .download-title>a {
        width: 100%;
        margin-bottom: 15px;
    }

    .downloads_lister .et_pb_button {
        position: static;
    }

    .download-title {
        margin-bottom: 10px;
    }

    .downloads_lister {
        padding: 20px;
    }
}


@media only screen and (max-width:660px) {

    #liste-karte {
        overflow-x: hidden;
        ;
    }

    .gform_wrapper form li,
    .gform_wrapper li {
        width: 100% !important;
    }

    .common-form li:first-child {
        width: 30% !important;
    }

    #isotope-list .item {
        display: block;
    }

    .kategories ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .contact-address .et_pb_text_inner>div {
        width: 100%;
    }

    .contact-address,
    .backtomap,
    .common-form,
    .common-form_wrapper {
        width: 100%;
    }

    .contact-address h4 {
        width: 100%;
        margin: 0 0 20px;
    }

    .contact-person .col-3 {
        padding-left: 10%;
    }

    .contact-person div[class*="col-"] {
        width: 100%;
    }

    .contact-person .relative-holder span[class*="icon-"] {
        padding-left: 6%;
    }
}

@media only screen and (max-width: 480px) {

    .passwordtext {
        width: 90%;
        /* text-align: center; */
        margin: 0 auto;
        padding-top: 100px;
    }


    .home .et_pb_slide {
        background-image: url('./assets/320x284.jpg') !important;
    }

    a.login-menu::after {
        content: "\7e";
        font-family: "ETmodules" !important;
        font-size: 15px;
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
    }

    .event-date span.day {
        font-size: 20px;
    }

    .downloads_lister {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .et_password_protected_form {
        width: 90%;
    }

    figure.download_image {
        margin-bottom: 20px;
        text-align: center;
    }

    /* .et_pb_section {
        overflow-y: visible !important;
    } */

    div[id*='fixed-holder'] div[id*='profile-id'] {
        top: 45px;
        width: 90%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }


    #profile-id2 {
        display: none;
    }

    .et_pb_section_0+div,
    #main-footer {
        z-index: 999;
    }



    .et_pb_section.section-flow {
        overflow: visible;
    }

    form#otherprojectsform.flexer {
        display: block;
        padding-bottom: 10px;
    }

    #otherprojectsform .custom-select {
        width: 100%;
        margin-bottom: 20px;
    }

    form#otherprojectsform .et_pb_button {
        width: 100%;
        margin: 0 auto !important;
    }

    .logo {
        width: 50%;
    }

    .mobile-fixed-section {
        display: block;
    }

    div[id*='fixed-holder'] .icon-wrap.mail-bg {
        margin: 0 !important;
    }

    div[id*='fixed-holder'].desktop {
        display: none;
    }

    div[id*='fixed-holder'] {
        position: relative;
        right: 0;
        top: 35%;
        z-index: 999;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    div[id*='fixed-holder'] div:not(.textwidget) {
        display: block;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .contact-person {
        width: 100%;
        padding-left: 0;
    }

    .gallery-holder .gallery {
        width: 100%;
    }

    #search-form-header {
        display: none;
    }

    .top-equal-section h2,
    .bottom-equal-section h2,
    h2 {
        font-size: 20px;
    }

    .et_pb_row,
    .et_pb_column .et_pb_row_inner {
        padding: 15px 0;
    }

    .et_pb_slider.home-section::after,
    .et_pb_slider.home-section::before,
    #newsletter-portion::after,
    #newsletter-portion::before {
        bottom: -50px;
        height: 65px;
    }

    #icon-holder-search {
        background: #f01b20;
        display: inline-block;
        height: 30px;
        padding: 0 5px;
        color: #fff;
        margin-right: 10px;
    }

    #search-section.open-menu {
        position: absolute;
        top: 15px;
        height: 450px;
        background: rgba(255, 255, 255, 0.97);
        width: 100%;
        left: 0;
        z-index: 999;
    }

    #icon-holder-search .icon-search {
        line-height: 30px;
    }

    #search-section.open-menu #icon-holder-search {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    #search-section.open-menu .icon-search,
    .text-search {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'CabinBold' !important;
        vertical-align: bottom;
    }

    /* #search-section.open-menu .icon-search{
        margin-right:5px;
    } */

    #search-section.open-menu .login-menu {
        display: none;
    }

    #search-section.open-menu #search-form-header {
        position: absolute;
        top: 100px;
        width: 90%;
        padding: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #search-section.open-menu #search-form-header input.search-field {
        width: 100%;
    }

    #search-section.open-menu .search-form .search-submit {
        right: -1px;
        left: auto;
        width: auto;
    }

    #search-section.open-menu .search-form .search-submit .icon-search::before {
        font-family: "icomoon" !important;
    }

    #search-section.open-menu #icon-holder-search {
        background: #000000;
    }

    #search-section.open-menu #icon-holder-search>.icon-search::before {
        content: '\4d';
        font-family: "ETmodules" !important;
        font-size: 20px;
        display: inline-block;
        vertical-align: bottom;
    }

    .logo_container a {
        display: inline-block;
        position: relative;
        z-index: 9999;
    }

    a.login-menu {
        font-size: 0;
        background: #f01b20;
        color: #fff;
        text-align: center;
        line-height: 0;
        border-radius: 3px;
    }

    a.login-menu:hover {
        color: #fff;
    }

    #search-section {
        margin-right: 10px;
    }

    .common-form li:first-child {
        width: 40% !important;
    }

    span.seperator {
        display: none;
    }

    .menu-contact {
        display: none;
    }
}

.home-slider .et_pb_slides .et_pb_slide {
    height: 65vh;
    background-size: cover;
}

body:not(.home) .et_pb_slides .et_pb_slide {
    height: 50vh;
}

td.fc-head-container.fc-widget-header {
    padding: 0;
    border: none;
}

h1.center {
    text-align: center;
}

#content-area h2.center {
    font-size: 22px;
}

.fc-row.fc-widget-header {
    margin-right: 0 !important;
}

th.fc-day-header.fc-widget-header.fc-sun {
    padding: 0;
    font-weight: lighter;
}


#footer-widgets .footer-widget li a:hover {
    text-decoration: underline;
    color: #ed2916;
    /* color: #fff; */
}

.search #main-content {
    padding-bottom: 60px;
}

body .et_pb_image_sticky {
    margin-bottom: 20px !important;
}

.page-id-251 .et_pb_column_1_4 h4,
h4.widgettitle {
    color: #f20726;
    font-weight: bold;
    font-family: 'ArimoBold', sans-serif;
    text-transform: uppercase;
}

#field_3_11 {
    width: 100%;
}

.gchoice_3_11_1 {
    width: 100% !important;
}


span.group-holder a {
    display: none !important;
}

span.seperator {
    padding: 0 10px;
}


div#liste-karte {
    height: 480px;
}

.locationinfo {
    display: none;
}

.eventCalendar-wrap .eventCalendar-subtitle {
    padding-left: 0 !important;
    font-size: 18px !important;
    line-height: 1.1em !important;
    color: #f20726;
    text-transform: uppercase;
    font-family: 'ArimoBold', sans-serif;
}


@media only screen and (max-width: 320px) {

    .passwordtext {
        width: 95%;
        /* text-align: center; */
        margin: 0 auto;
        padding-top: 100px;
    }
}