/*
 Theme Name:   Divi Child Theme
 Theme URI: http://www.elegantthemes.com/gallery/divi/
 Version: 3.0.51
 Description: Smart. Flexible. Beautiful. Divi is the most powerful theme in our collection.
 Author: Elegant Themes
 Author URI: http://www.elegantthemes.com
 Template:     Divi
 License:      GNU General Public License version 3.0
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:         editor-style, featured-images, full-width-template, theme-options, translation-ready, custom-background, custom-colors, custom-menu, one-column, two-columns, custom-logo
 Text Domain:   Divi-child
*/

.eventCalendar-wrap{

    border: none !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
    background-color: #fff !important;
    color: #807E7E !important;
}

.eventCalendar-wrap .eventCalendar-currentTitle .eventCalendar-monthTitle{
	background: #f01b20;
	font-weight: 400 !important;
    padding: 5px 0;
    text-transform: uppercase;
    
}

.eventCalendar-wrap .eventCalendar-currentTitle{
	outline: none !important;
    border: none !important;
    border-width: 0 !important;
}

.eventCalendar-wrap .eventCalendar-daysList.eventCalendar-showAsWeek{
	margin: 0 !important;
	border:none !important;
	background-color: #f9f9f9 !important;
	background-image: none !important;
}

.eventCalendar-wrap .eventCalendar-day-header{
	border-bottom: none !important;
	background: #e7e7e8 !important;
    padding: 4px 0 !important;
    text-transform: uppercase !important;
    color: #000 !important;
    font-size: 13px !important;
    font-family: 'Cabin', sans-serif;
}

.eventCalendar-wrap .eventCalendar-showAsWeek .eventCalendar-day a{
	border:none !important;
    padding: 3px 0 !important;
    font-size: 13px !important;
    font-family: 'Cabin', sans-serif;
    font-weight: 200 !important;
}

.entry-content ul{
	padding: 0 !important;
}

.eventCalendar-wrap .eventCalendar-daysList.eventCalendar-showAsWeek li.eventCalendar-empty {
    background-color: #f9f9f9 !important;
    min-height: 26px !important;
    border-top: solid 1px #f9f9f9 !important;
}

.eventCalendar-wrap .eventCalendar-daysList li.eventCalendar-dayWithEvents.eventCalendar-current a {
    background: #f01b20 !important;
    color: #ffffff !important;
}

.eventCalendar-wrap .eventCalendar-daysList li.eventCalendar-dayWithEvents a {
    background: #cac0e2 !important;
}

.eventCalendar-wrap .eventCalendar-list li a.eventCalendar-eventTitle {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    padding-bottom: 5px;
    color: #000 !important;
}

body .eventCalendar-monthWrap {
    position: relative;
    }

    .eventCalendar-list-wrap{
        overflow: hidden;
    }

.eventCalendar-wrap .eventCalendar-subtitle {
    padding-left: 0 !important;
    font-size: 18px !important;
    margin-top: 30px;
    line-height: 30px;
        color: #f20726;
        text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
}

.eventCalendar-list .eventCalendar-noEvents {
    font-size: 100%;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
}

.eventCalendar-list li {
    list-style: none;
}


.eventCalendar-wrap h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.eventCalendar-list li time {

    font-size: 14px !important;
    line-height: 13px;
    font-family: 'Cabin', sans-serif;
    color: #000000;

}

span.icon-date, span.icon-time {
    color: #f20726;
}

.eventCalendar-list p {
    color: #000000;
}

.eventCalendar-wrap .eventCalendar-arrow{
    top:14px !important;
}

.eventCalendar-day.eventCalendar-current{
    background: #f01b20 !important;
    color: #ffffff !important;
}

.eventCalendar-day.eventCalendar-current a{
    color: #ffffff !important;
}
