
 
/* Klappauf-funktion mit Text */

div.ka-panel {
	margin-bottom: 10px;
	clear: both;
	overflow: hidden
}

div.ka-panel h1 {
	padding: 5px 15px 5px 40px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 100%;
	background: url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/akkordeon-arrow.png) no-repeat bottom left #ededed;
}

div.ka-panel.open h1 {
		background: url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/akkordeon-arrow.png) no-repeat top left #edede;

}

div.ka-panel.hover h1 {
		background: url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/akkordeon-arrow-on.png) no-repeat bottom left #ededed;
		cursor: pointer
}

div.ka-panel.close h1:hover {
		background: url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/akkordeon-arrow-on1.png) no-repeat bottom left #ededed;
		cursor: pointer
}

div.ka-panel.open h1:hover  {
	background: url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/akkordeon-arrow-on1.png) no-repeat top left #ededed;
		cursor: pointer
}

div.ka-content {
	padding: 15px;
	padding-top: 18px;
	border: 1px solid #ededed;
	background: url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/ka-content-bg.png) repeat-x bottom left #EEEAF5
}

div.ka-content p {
	color: #2D2D2D;
	line-height: 140%
}


/* ------- Brandenburg-Karte ------- */



div#contentmain ul#liste-karte {
	margin-top: 20px !important;
	display: block;
	float: left;
	width: 250px;
	height: 500px
}

div#contentmain ul#liste-karte li {
	padding-left: 3px;
	padding-bottom: 7px;
	list-style-type: none;
	background-image: none
}


ul#liste-karte a {
	padding-left: 22px;
	color: #000;
	background:  url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/br-bullet.gif) no-repeat 0 3px ;
}




div#karte {
	position: absolute;
	left: 250px;
	width: 466px;
	height: 472px;
	background:  url('../assets/br-karte.png') no-repeat;

}


div#karte span#k_prignitz {
	width: 149px;
	height: 106px;
	top: 44px;
	left: 5px;
}

div#karte span#k_ostprignitz-ruppin {
	width: 123px;
	height: 137px;
	top: 55px;
	left: 115px;
}



div#karte span#k_oberhavel {
	width: 91px;
	height: 144px;
	top: 68px;
	left: 204px;
}



div#karte span#k_uckermark {
	width: 155px;
	height: 134px;
	top: 4px;
	left: 257px;
}


div#karte span#k_barnim {
	width: 100px;
	height: 109px;
	top: 112px;
	left: 277px;
}


div#karte span#k_havelland {
	width: 133px;
	height: 79px;
	top: 163px;
	left: 117px;
}

div#karte span#k_maerkisch-oderland {
	width: 135px;
	height: 111px;
	top: 144px;
	left: 306px;
}


div#karte span#k_potsdam-mittelmark {
	width: 143px;
	height: 122px;
	top: 218px;
	left: 126px;
}


div#karte span#k_brandenburg {
	width: 51px;
	height: 50px;
	top: 219px;
	left: 143px;
}

div#karte span#k_potsdam {
	width: 37px;
	height: 38px;
	top: 225px;
	left: 212px;
}

div#karte span#k_teltow-flaeming {
	width: 118px;
	height: 131px;
	top: 248px;
	left: 196px;
}

div#karte span#k_dahme-spree {
	width: 139px;
	height: 146px;
	top: 246px;
	left: 280px;
}

div#karte span#k_oder-spree {
	width: 146px;
	height: 106px;
	top: 226px;
	left: 313px;
}

div#karte span#k_frankfurt {
	width: 31px;
	height: 34px;
	top: 247px;
	left: 409px;
}

div#karte span#k_elbe-elster {
	width: 113px;
	height: 111px;
	top: 358px;
	left: 234px;
}

div#karte span#k_oberspreewald-lausitz {
	width: 78px;
	height: 116px;
	top: 354px;
	left: 313px;
}

div#karte span#k_cottbus {
	width: 33px;
	height: 36px;
	top: 362px;
	left: 394px;
}

div#karte span#k_spree-neisse {
	width: 93px;
	height: 119px;
	top: 320px;
	left: 368px;
}



div#karte span#k_prignitz.k_show { background:  url("br-prignitz.png") no-repeat;}
div#karte span#k_ostprignitz-ruppin.k_show { background:  url("br-ostprignitz-ruppin.png") no-repeat;}
div#karte span#k_oberhavel.k_show { background:  url("br-oberhavel.png") no-repeat;}
div#karte span#k_barnim.k_show { background:  url("br-barnim.png") no-repeat;}
div#karte span#k_uckermark.k_show { background:  url("br-uckermark.png") no-repeat;}
div#karte span#k_havelland.k_show { background:  url("br-havelland.png") no-repeat;}
div#karte span#k_maerkisch-oderland.k_show { background:  url("br-maerkisch-oderland.png") no-repeat;}
div#karte span#k_potsdam-mittelmark.k_show { background:  url("br-potsdam-mittelmark.png") no-repeat;}
div#karte span#k_brandenburg.k_show { background:  url("br-brandenburg.png") no-repeat; z-index: 1000}
div#karte span#k_potsdam.k_show { background:  url("br-potsdam.png") no-repeat; z-index: 1000}
div#karte span#k_teltow-flaeming.k_show { background:  url("br-teltow-flaeming.png") no-repeat;}
div#karte span#k_dahme-spree.k_show { background:  url("br-dahme-spree.png") no-repeat;z-index: 1000}
div#karte span#k_oder-spree.k_show { background:  url("br-oder-spree.png") no-repeat;}
div#karte span#k_frankfurt.k_show { background:  url("br-frankfurt.png") no-repeat; z-index: 1000}
div#karte span#k_elbe-elster.k_show { background:  url("br-elbe-elster.png") no-repeat;}
div#karte span#k_oberspreewald-lausitz.k_show { background:  url("br-oberspreewald-lausitz.png") no-repeat;}
div#karte span#k_cottbus.k_show { background:  url("br-cottbus.png") no-repeat; z-index: 1000}
div#karte span#k_spree-neisse.k_show { background:  url("br-spree-neisse.png") no-repeat;}




ul#liste-karte li.l_show a {background:  url("br-bullet-high.gif") no-repeat 0 3px ;color: #ef1b1f !important; font-weight: bold}
/*#684cA3 dark blue*/
ul#liste-karte li a:link span {display: none;}
ul#liste-karte li a:visited span {display: none;}
ul#liste-karte li a:hover span {
        position: relative;
        left: -20px;
        margin: 0 0px 0px 20px;
        _margin: -25px 0px 0px 20px;
        background-color: #ededed;
        width:210px;
        padding: 8px 8px 8px 20px;
        border: 1px solid #ccc;
        font-family:Arial,Helvetica,sans-serif;
        font-size:12px; 
        color: #000;
        text-align:left;
        line-height: 130%;
        font-weight: normal;
        display: block;
        z-index: 99;
        border-top: none;
}	

div#eindeutige_id {display: block; background: #ccc}

div#karte a#k_barnim span {text-indent: 0}

a#k_barnim span {display: none;}
a#k_barnim:visited span {display: none;}
a#k_barnim:hover span {
        position: absolute;
        margin: 5px 0px 0px 20px;
        _margin: -25px 0px 0px 20px;
        background-color: #ededed;
        width:150px;
        padding: 8px 8px 8px 20px;
        border: 1px solid #ccc;
        font-family:Arial,Helvetica,sans-serif;
        font-size:12px; 
        color: #000;
        text-align:left;
        line-height: 130%;
        font-weight: normal;
        display: block;
        z-index: 99;
}	


ul#liste-karte li a.over:hover {background:  url(http://www.familienbuendnisse-land-brandenburg.de/fileadmin/templates/img/lbf/br-bullet-high.gif) no-repeat 0 3px ;color: #684ca3 !important; font-weight: bold}

li#l_oder-spree div#eindeutige_id {
width: 200px; 
background: #ededed; 
border: 1px solid #ccc; 
border-top: none;
padding: 8px;
font-size:12px;
line-height: 130%;
}

